/* #introPara {
    color: blue
} */

/* div {
    background-color: black;
    color: white
} */

/* img {
    height: 400px;
} */

/* h3 {
    border: solid black
} */

/* .floatPara {
    float: right;
} */

/* #marginedPara {
    margin: 30px;
    background-color: blue
} */

/* #paddedPara {
    background-color: blue;
    padding: 20px;
} */